/////////////////////////////////
// Base
html {

    font-family: Roboto Condensed, Lato, Century Gothic, Verdana, Sans-Serif;

}

.mainNav{

    &_siteTitle{

        &-Logo{
            height: 90%;
            width: 100%;
            fill: $colorWhite;
            align-self: center;
        }

        &-Name{

            position: relative;
            display: inline-block;
            align-self: center;

            color: $colorWhite;
            font-size: 2.7rem;
            font-family: Poor Richard, Roboto Condensed, Verdana, sans-serif;


        }

    }

    &_userNav{

        &-Login, &-newUser{

            line-height: 4.185rem;
            text-align: center;
            font-size: 1.5rem;
            color: $colorWhite;

            &:hover{
                color: $colorBlack;
            }

        }


        ///////////////////////////////////////////
        // Login Form Typography
        &-LoginForm{

            position: relative;
            display: grid;
            height: 400%;
            background-color: $complementColor;
            border-bottom-left-radius: .5rem;

            &-Input{
            
                font-size: 1.6rem;

                #userNav-username, #userNav-password{
                    
                    color: $primaryColor;

                }

                ::placeholder{
                    color: $primaryColor;
                }
                
                &-username, &-password{

                    &:placeholder-shown + #userNav-username{
                        color: $primaryColor;
                    }

                    &:placeholder-shown + #userNav-password{
                        color: $primaryColor;
                    }

                    &:not(:placeholder-shown) + #userNav-username, &:focus + #userNav-username{
                        color: $primaryColor;
                    }

                    &:not(:placeholder-shown) + #userNav-password, &:focus + #userNav-password{
                        color: $primaryColor;
                    }

                }
             
            }

            //////////////////////////////////
            // Submit Button

            .submitButton{
                line-height: 2.5rem;
                color: $colorWhite;
            }

            &--ErrorMessage{

                position: relative;
                color: red;
                font-size: 1.2rem;
                line-height: 2.25rem;
                text-align: center;

            }

        }

    }

    .user-icon{
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .usernameContainer{
        font-size: 1.6rem;
        text-align: center;
    }

    .user-icon, .usernameContainer, .usernameContainer a{
        color: $colorWhite;
    }

    .usernameContainer a{
        text-decoration: none;
    }

    .logoutButton{
        font-size: 1.6rem;
        &:hover, &:active{
            color: $colorWhite;
        }
    }
    
}

.profileSettings, .profileSettings2{
    position: relative;
    font-size: 3.5rem;
    color: $colorWhite;
    text-align: center;
    &:hover{
        color: $secondaryColor;
    }
}

.profileGreeting{
    font-size: 6.4rem;
    color: $colorWhite;
    text-align: center;
    line-height: 6.3rem;
}

.superContainer{

    &-newUserContainer{

        &-close{
            color: $colorWhite;
            font-size: 1.6rem;

            &--icon{
                fill: $colorWhite;
                height: 10%;
                width: 10%;

                &:hover{
                    fill: $secondaryColor;
                    cursor: pointer;
                    font-size: 1.6rem;
                }
            }

        }

        .newUserForm{

            &_Inside{

                &-ValidationContainer{

                    .newUserFormError-Continue{

                        .inputContinue-Submit,
                        .inputContinue-Submit2{
                            line-height: 7.5rem;
                            font-size: 1.6rem;
                            text-align: center;
                            color: $colorWhite;

                            &:active{
                                color: $colorBlack;
                            }
                        }

                        .inputResponseMessage{

                            .messageArea{

                                position: relative;
                                line-height: 4.146rem;
                                font-size: 1.6rem;
                                padding-left: 2%;
                                // color: $complementColor;
                                color: $colorWhite;
                                text-align: center;

                            }

                            .warning{
                                color: $colorWhite;
                            }

                            .error{
                                color: $complementColor;
                            }

                        }

                        .questionsContainer{

                            .passwordToggleContainer{

                                fill: $colorWhite;

                                &:hover{
                                    fill: $complementColor;
                                }

                            }
                            
                            .Questions{

                                ::-webkit-input-placeholder{
                                    opacity: 0;
                                    transition: inherit;
                                }
                
                                ::-moz-placeholder{
                                    opacity: 0;
                                    transition: inherit;
                                }

                                ::placeholder{
                                    color: $colorWhite;
                                }

                                .q1, .q2, .q3, .q4, .q5, .q6{

                                    font-size: 2.8rem;
                                    text-align: center;
                                    color: $colorWhite;

                                    &:focus{
                                        color: $complementColor;
                                    }

                                    &:placeholder-shown + .QuestionLabel{
                                        transform: translate(18rem, 2rem);
                                    }
                                    
                                    &:focus::-webkit-input-placeholder{
                                        opacity: 1;
                                    }
                
                                    &:focus::-moz-placeholder{
                                        opacity: 1;
                                    }

                                    &:not(:placeholder-shown) + .QuestionLabel{
                                        color: $colorWhite;
                                    }

                                    &:focus + .QuestionLabel{
                                        color: $complementColor;
                                    }

                                }

                                .QuestionLabel{
                                    font-size: 2.8rem;
                                    color: $colorWhite;
                                }

                            }

                        }

                    }

                }                

            }

        }

    }

}

// Profile Card Container
.cardContainer{
    .cardHeader{
    font-size: 3rem;
    color: $colorWhite;
    }
    .cardOption{
        font-size: 2.5rem;
        color: $colorWhite;
    }
}

.profileContainer-Settings-Container{
    .profileSettings-GridContainer{
        .profileSettings-header{
            font-size: 3.2rem;
            font-weight: 300;
            line-height: 8.29rem;
            color: $colorWhite;
        }
        .change-username, .change-password, .delete-profile{
            font-size: 3.2rem;
            color: $colorWhite;
            text-align: center;

            &:active{
                color: $colorBlack;
            }

            &-header{
                position: relative;
                height: 8.293rem;
            }
        }
        .change-username, .change-password{
            .formContainer{
                #un, #pw, #rpw{
                    font-size: 2.4rem;
                    text-align: center;
                    color: $colorWhite;
                }
            }
            h6 .newSubmit{
                font-size: 1.4rem;
                color: $colorWhite;    
            }
        }
    }
}
