
$fa-font-path: "../webfonts";

/////////////////////////////
//         COLORS

/////////////////////////////
//      Primary Color
$primaryColor: #822ABA;
$primaryColorLight: #8B48B6;
$primaryColorLighter: #A274BF;
$primaryColorDark: #690CA3 ;
$primaryColorDarker: #510780 ;

/////////////////////////////
//     Secondary Color
$secondaryColor: #38D927;
$secondaryColorLight: #5BD74E;
$secondaryColorLighter: #89DC80;
$secondaryColorDark: #16C803;
$secondaryColorDarker: #0F9C00;


/////////////////////////////
//     Tertiary Color
$tertiaryColor: #FFB72E;
$tertiaryColorLight: #FFC75C;
$tertiaryColorLighter: #FFDA94;
$tertiaryColorDark: #F4A104 ;
$tertiaryColorDarker: #BF7D00 ;


/////////////////////////////
//    Complement Color
$complementColor: #FFFC2E;
$complementColorLight: #FFFD5C;
$complementColorLighter: #FFFE94;
$complementColorDark: #F4F104 ;
$complementColorDarker: #BFBC00 ;

/////////////////////////////
//       Color Black
$colorBlack: #000000;


/////////////////////////////
//       Color Greyscale
$colorDarkestGrey: #111111;
$colorDarkerGrey: #333333;
$colorDarkGrey: #555555;
$colorGrey: #777777;
$colorLightGrey: #999999;
$colorLighterGrey: #bbbbbb;
$colorLightestGrey: #dddddd;


/////////////////////////////
//       Color White
$colorWhite: #FFFFFF;
$colorOffWhite: #FEFEFE;