/////////////////////////////////////////
//  Submit Button

.submitButton{
    position:relative;
    display: grid;
    justify-self: center;
    align-self: start;
    z-index: 13;

    background-color: $primaryColor;
    border-radius: .4rem;
    border: .2rem solid transparent;

    &:active{
        outline: none;
    }

    &:hover{

        cursor: pointer;
        background-color: $secondaryColor;

    }

}


/////////////////////////////////////////////////////
// Login Submit & Cancel Buttons
#Submit{
    margin-right: 10rem;
    margin-top: -1.25rem;
    height: 80%;
    width: 35%;
}

#cancel{
    margin-left: 10rem;
    margin-top: -1.25rem;
    height: 80%;
    width: 35%;
}