.cardContainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border: .3rem solid rgba(white, .5);
    .cardHeader{
        position: relative;
        display: grid;
        height: 25%;
        width: 100%;
        background-color: rgba($colorBlack, .25);
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: ($colorBlack, .5);
        }
    }
}