.cardContainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba($colorBlack, .25);
    height: 25%;
    transition: height .5s;
    overflow: hidden;
    &:not(:last-of-type):hover{
        height: 100%;
        background-color: rgba($colorBlack, .5);
        cursor: pointer;
        overflow-y: scroll;
    }
    .cardHeader{
        position: relative;
        display: grid;
        height: 9.5rem;
        min-height: 9.9rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .cardOption{
        position: relative;
        display: grid;
        height: 9.5rem;
        min-height: 9.9rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: rgba($secondaryColor, .6);
            cursor: pointer;
        }
        &:active{
            background-color: rgba($secondaryColor, 1);
        }
    }
}
#createBudget:hover{
    background-color: rgba($colorBlack, .5);
    cursor: pointer;
    overflow: hidden;
}