////////////////////////////////////
//     Navigation         


////////////////////////////////////
//     Main Nav
.mainNav{

    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    background-color: $primaryColor;
    border-bottom: .3rem solid $complementColor;

////////////////////////////////////
//    End Main Nav

////////////////////////////////////
// Site Title

    &_siteTitle{

        position: relative;
        display: grid;
        grid-auto-flow: column;
        height: 4.3rem;
        width: 12.5%;
        z-index: 11;

    }

////////////////////////////////////
//     End Site Title
    
////////////////////////////////////
// User Navigation

    &_userNav{

        position: relative;
        z-index: 11;        
        height: 100%;
        width: 17.5%;

////////////////////////////////////
//     End User Nav

/////////////////////////////////////////////////////
// User Login / New User Buttons

        &-Login, &-newUser{

            position: relative;
            display: inline-block;
            height: 90%;
            width: 49.5%;
            margin-top: .215rem;
            border-radius: .2rem;

            &:hover{
                background-color: $complementColor;
                cursor: pointer;
            }

        }

///////////////////////////////////////////////////////////////
//     End User Login / New User Buttons

////////////////////////////////////
//     User Login Form

        &-LoginForm{

            position: relative;
            display: none;
            @include gridLayout(100%, 100%, 1fr, repeat(2, 1fr 5%) 20%, 0, 0);
            @include gridPlacement(1, 1, 3, 3);
            height: 0;
            background-color: $complementColor;
            border-bottom-left-radius: .5rem;
            margin-top: .2rem;

        /////////////////////////////////////////////////
        //  Login Form Input Containers

            &-Input{

                position: relative;
                display: grid;
                margin: auto;
                height: 100%;

                &:first-child{
                    margin-top: 0rem;
                }

                //////////////////////////////////////////////////////////
                //  End Login Form Input Containers

                ///////////////////////////////////////////////////////
                //     User Login Form Input Labels
                #userNav-username{
                    position: absolute;
                    top: .35rem;
                    left: .25rem;
                    z-index: 12;
                    transform: scale(.75);
                }

                #userNav-password{
                    position: absolute;
                    top: .25rem;
                    left: .2rem;
                    z-index: 12;
                    transform: scale(.75);
                }

                /////////////////////////////////////////////////////
                //     End User Login Form Labels

                //////////////////////////////////////
                //  Login Form Inputs
                &-username, &-password{

                    position: relative;
                    align-self: center;
                    height: 3.5rem;

                    padding-left: .5rem;
                    border-radius: .2rem;
                    border: .2rem solid $primaryColor;

                    &:focus{
                        outline: .2rem solid $secondaryColor;
                    }
                    
                }                

                &-password{
                    margin-bottom: 3rem;
                }

                ///////////////////////////////////////////////////////////
                //  End Login Form Input Containers

                /////////////////////////////////////////////
                //  Floating Label Code

                ::-webkit-input-placeholder{
                    opacity: 0;
                    transition: inherit;
                }

                ::-moz-placeholder{
                    opacity: 0;
                    transition: inherit;
                }

                &-username{
                    align-self: end;
                    margin-bottom: .5rem;

                    &:placeholder-shown + #userNav-username{
                        transform: translate(.5rem, 2.9rem);
                        -moz-transform: translate(.5rem, 3.1rem);
                    }

                    &:focus::-webkit-input-placeholder{
                        opacity: 1;
                    }

                    &:focus::-moz-placeholder{
                        opacity: 1;
                    }

                    &:not(:placeholder-shown) + #userNav-username, &:focus + #userNav-username{
                        transform: translate(-.5rem, .25rem) scale(.75);
                        cursor: pointer;
                    }

                    
                }

                &-password{
                    align-self: start;
                    margin-top: 12.5%;

                    &:placeholder-shown + #userNav-password{
                        transform: translate(.5rem, 2.6rem);
                        -moz-transform: translate(.5rem, 2.4rem);
                    }

                    &:focus::-webkit-input-placeholder{
                        opacity: 1;
                    }

                    &:focus::-moz-placeholder{
                        opacity: 1;
                    }

                    &:not(:placeholder-shown) + #userNav-password, &:focus + #userNav-password{
                        transform: translate(-.5rem, 0) scale(.75);
                        -moz-transform: translate(-.5rem, -.5rem) scale(.75);
                        cursor: pointer;
                    }

                }

                ///////////////////////////////////////////////
                // Floating Label Transition

                &-username,
                #userNav-username,
                &-password,
                #userNav-password{
                    
                     transition: all .3s;
                     cursor: text;

                }

                ///////////////////////////////////////////////////////
                // End of Floating Label Transition

                ///////////////////////////////////////////////
                // End of Floating Label Code

            }

                ///////////////////////////////////////////////
                // Login Error Message
                
                &--ErrorMessage{
                    position: relative;
                    display: block;
                    z-index: 4;

                    height: 90%;
                    width: 100%;
                    padding: 1%;

                    // transform: translate(.25rem, -1.75rem);
                }

                #loginError1{
                    transform: translate(0rem, -1rem);
                    -moz-transform: translate(.4rem, -1rem);
                }

                #loginError2{
                    transform: translate(0rem, -3.45rem);
                    -moz-transform: translate(.25rem, -3.4rem);
                }
            
            
        }

    }
    
}