.profileContainer{
    .profileSettings2{
        display: none;
    }

    .profileSettings, .profileSettings2{
        margin: 1.5rem 1rem;
        &:hover{
            cursor: pointer;
        }
    }
    &-Settings-Container{
        position: relative;
        display: none;
        justify-content: center;
        height: 100%;
        width: 0%;
        // background-color: rgba($primaryColorDark, .8);
        z-index: 3;
        overflow: hidden;
        transition: width 1s;

        .profileSettings-GridContainer{
            display: grid;
            @include gridLayout(100%, 100%, 1fr,repeat(7, 1fr), 0 , 0);
            @include gridPlacement(1,1,7,7);
            .profileSettings-header{
                display: none;
                justify-self: center;
            }

            .change-username{
                display: none;
                height: 50%;
                width: 40%;
                justify-self: center;
                background-color: rgba($colorBlack, .5);
                border: .2rem solid rgba($colorWhite, .75);
                transition: height 1s;
                overflow: hidden;
                &:hover{
                    cursor: pointer;
                    background-color: $secondaryColor;
                }
                &:active{
                    background-color: $complementColor; 
                }
                &-header{
                    display: grid;
                    align-content: center;
                }
               .formContainer{
                   display: grid;
                   height:20%;
                   width: 100%;
                   align-content: center;
                   justify-content: center;
                   margin-bottom: .5rem;

                   form{
                       display: grid;
                       height: 4rem;
                       width: 25rem;
                        #un{
                            height: 100%;
                            width: 100%;
                            padding: .5rem;
                            background-color: transparent;
                            border: transparent;
                            border-bottom: .2rem solid $colorWhite;
                        }
                   }
               }
               h6 .newSubmit{
                    border: none;
                    background-color: transparent;
               }
            }
            .change-password{
                display: none;
                height: 33%;
                width: 40%;
                justify-self: center;
                background-color: rgba($colorBlack, .5);
                border: .2rem solid rgba($colorWhite, .75);
                transition: height 1s;
                overflow: hidden;
                &:hover{
                    cursor: pointer;
                    background-color: $secondaryColor;
                }
                &:active{
                    background-color: $complementColor; 
                }
                &-header{
                    display: grid;
                    align-content: center;
                    height: 7.65rem;
                }
                .formContainer{
                    display: grid;
                    height:20%;
                    width: 100%;
                    align-content: center;
                    justify-content: center;
                    margin-bottom: .5rem;
 
                    form{
                        display: grid;
                        height: 4rem;
                        width: 25rem;
                         #pw, #rpw{
                             height: 100%;
                             width: 100%;
                             padding: .5rem;
                             background-color: transparent;
                             border: transparent;
                             border-bottom: .2rem solid $colorWhite;
                         }
                    }
                }
                h6 .newSubmit{
                     border: none;
                     background-color: transparent;
                }
            }
            .delete-profile{
                display: none;
                height: 100%;
                width: 40%;
                justify-self: center;
                background-color: rgba($colorBlack, .5);
                border: .2rem solid rgba($colorWhite, .75);
                &:hover{
                    cursor: pointer;
                    background-color: $secondaryColor;
                }
                &:active{
                    background-color: $complementColor; 
                }
                &-header{
                    display: grid;
                    align-content: center;
                }
            }
            .oneHundred{
                height: 100%;
                background-color: $secondaryColor;
            }
        }
    }
    .oneHundredWidth{
        width: 100%;
    }
}